[Desktop Entry]
Version=1.0
Name=Galculator
Comment=Perform simple and scientific calculations
Comment[da_DK]=Udfør simple og videnskabelige bereginiger
Comment[de]=Ausführen von einfachen und wissenschaftlichen Berechnungen
Comment[ja]=単純な科学計算を実行します
Comment[kk_KZ]=Қарапайым және инженерлік санауларға арналған
Comment[pl]=Wykonaj proste lub naukowe obliczenia
Comment[pt]=Executa cálculos simples e científicos
Comment[pt_BR]=Executa cálculos simples e científicos
Comment[sk]=Kalkulačka na jednoduché i vedecké výpočty
Comment[sv]=Genomför enkla och vetenskapliga beräkningar
Comment[tr]=Basit ve bilimsel hesaplamalar gerçekleştirir
Comment[zh_TW]=進行簡單和科學的計算
Exec=galculator
Icon=galculator
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
