[Desktop Entry]
Version=1.0
Type=Application
Name=Apply the orientation to image content
Name[ca]=Aplica la orientació al contingut de la imatge
Name[cs]=Otočit obsah obrázku podle metadat
Name[de]=Wende die Drehung auf den Bildinhalt an
Name[es]=Aplicar-orientación de la imagen al archivo
Name[fr]=Appliquer l'orientation au fichier de l'image
Name[nl]=Pas de orientatie toe op de afbeeldingsinhoud
Name[pt_BR]=Aplicar a orientação ao conteúdo da imagem
Name[ro]=Afișează imaginile respectând orientarea din metadate
Name[ru]=Применить изменение ориентации непосредственно к изображению.
Name[sr]=Примени орјентацију на садржај слике
Name[sr@latin]=Primeni orjentaciju na sadržaj slike
Name[sv]=Välj _denna som bildens orientering

# call the helper script
Exec=geeqie-rotate -g %f

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "Edit/Orientation"
X-Geeqie-Menu-Path=EditMenu/OrientationMenu

# It can be made verbose
# X-Geeqie-Verbose=true

MimeType=image/jpeg;image/png;image/tiff;
