#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,29,1,0
  PRODUCTVERSION 1,29,1,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
	VALUE "CompanyName", "Red Hat Software"
	VALUE "FileDescription", "Pangox"
	VALUE "FileVersion", "1.29.1.0"
	VALUE "InternalName", "pangox-1.0-0"
	VALUE "LegalCopyright", "Copyright © 1999 Red Hat Software."
	VALUE "OriginalFilename", "pangox-1.0-0.dll"
	VALUE "ProductName", "Pangox"
	VALUE "ProductVersion", "1.29.1"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END
