
(* This configuration is inherited in all sub-directories *)

ocamlc = [OCP_BUILD_OCAMLC]
ocamlopt = [OCP_BUILD_OCAMLOPT]
ocamldep = [OCP_BUILD_OCAMLDEP]
ocamllex = [OCP_BUILD_OCAMLLEX]
ocamlyacc = [OCP_BUILD_OCAMLYACC]

cflags = [OCP_BUILD_CCOPT]
(* ccopt = [] *)

comp = [ "-g"; "-warn-error"; "A" ]
link = [ "-g" ]
