[Desktop Entry]
Version=1.0
Type=Application
Name=Symlink
Name[ca]=Enllaç simbòlic
Name[cs]=Symbolický odkaz
Name[de]=Erstelle symbolischen Link
Name[es]=Enlace simbólico
Name[fr]=Lien symbolique
Name[nl]=Symlink
Name[pt_BR]=Ligar simbolicamente
Name[ro]= Legătură simbolică 
Name[ru]=Символьная ссылка
Name[sr]=Симболичка веза
Name[sr@latin]=Simbolička veza
Name[sv]=_Länka till...

# call the helper script
Exec=geeqie-symlink %f

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "File"
X-Geeqie-Menu-Path=FileMenu/FileOpsSection

# This is a filter - $GEEQIE_DESTINATION is required
X-Geeqie-Filter=true

# It can be made verbose
# X-Geeqie-Verbose=true
