<?xml version="1.0"?>

<oafconfig>

<searchpath>
<item>/opt/gnome/share/oaf</item>
<item>/usr/local/gnome/share/oaf</item>
<item>/usr/local/share/oaf</item>
<item>/opt/gnome/oaf/share/oaf</item>
</searchpath>

<searchpath>
<item>/opt/gnome/oaf/share/oaf</item>
</searchpath>

</oafconfig>
