body {
    color: #000000; 
    background: #ffffff;
    font-family: serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

p.title {
    text-align: center; 
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5ex;
    margin-bottom: 5ex;
    padding-top: 1ex;
    font-size: 150%;
}

h1 {
    text-align: left; 
    margin-left: -5%;
    margin-right: 0%;
    padding-top: 1ex;
    font-size: 150%;
}

h2 {
    text-align: left; 
    margin-left: -5%;
    margin-right: 0%;
    padding-top: 1ex;
    font-size: 110%;
}

a:link {
    color:#0000ff;
}

a:visited {
    color:#000077;
}

a:active {
    color:#ff0000;
}

a:hover {
    background: #dddddd;
}

div.authors {
    text-align: center;
    margin-bottom: 5ex;
}

div.example {
    border-width: 1pt;
    border-color: black;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1ex;
}

div.figure {
    margin-left: 2em;
    margin-right: 2em;
    font-style: italic;
}

div.table {
    margin-left: 2em;
    margin-right: 2em;
}

p.tabletitle {
    font-style: italic;
}

table {
    width: 100%;
    text-align: left;
    border-width: 1pt;
    border-color: black;
    border-style: solid;
}

table.figure {
    border-width: 0pt;
}

td.func {
    width: 25%;
    vertical-align: top;
}

td.desc {
    vertical-align: top;
}

dl {
    margin-left: 0em;
    margin-right: 0em;
    border-width: 0pt;
    border-color: black;
    border-style: solid;
    padding: 0em 0em 0em 0em;
}

dt {
    font-weight: bold;
}

dd {
}
