#ifndef XCOMM
#define XCOMM #
#endif

XCOMM ImageMagick Imakefile info.  This contains any special redefinitions.
XCOMM
XCOMM Copyright 1998 E. I. du Pont de Nemours and Company
XCOMM
XCOMM Permission is hereby granted, free of charge, to any person obtaining a
XCOMM copy of this software and associated documentation files ("ImageMagick"),
XCOMM to deal in ImageMagick without restriction, including without limitation
XCOMM the rights to use, copy, modify, merge, publish, distribute, sublicense,
XCOMM and/or sell copies of ImageMagick, and to permit persons to whom the
XCOMM ImageMagick is furnished to do so, subject to the following conditions:
XCOMM
XCOMM The above copyright notice and this permission notice shall be included in
XCOMM all copies or substantial portions of ImageMagick.
XCOMM
XCOMM The software is provided "as is", without warranty of any kind, express or
XCOMM implied, including but not limited to the warranties of merchantability,
XCOMM fitness for a particular purpose and noninfringement.  In no event shall
XCOMM E. I. du Pont de Nemours and Company be liable for any claim, damages or
XCOMM other liability, whether in an action of contract, tort or otherwise,
XCOMM arising from, out of or in connection with ImageMagick or the use or other
XCOMM dealings in ImageMagick.
XCOMM
XCOMM Except as contained in this notice, the name of the E. I. du Pont de
XCOMM Nemours and Company shall not be used in advertising or otherwise to
XCOMM promote the sale, use or other dealings in ImageMagick without prior
XCOMM written authorization from the E. I. du Pont de Nemours and Company.
XCOMM

XCOMM Define HasLZW to enable LZW compression within ImageMagick.  Define
XCOMM HasShape if your X server supports the Shape Extension and
XCOMM HasSharedMemory for the Shared Memory Extension.
XCOMM
#ifdef RsArchitecture
XCOMM EXTENSIONS_DEFINES= -DHasLZW -DHasShape
#else
XCOMM EXTENSIONS_DEFINES= -DHasLZW -DHasShape -DHasSharedMemory
#endif

XCOMM Set DoSharedLib to HasSharedLibraries to build ImageMagick with shared
XCOMM libraries.
XCOMM
XCOMM #define DoSharedLib  HasSharedLibraries

XCOMM Define the location of the X11 RGB color database.
XCOMM
XCOMM DATABASE_DEFINES= -DRGBColorDatabase=\"/usr/openwin/lib/X11/rgb.txt\"

XCOMM By default, the maximum color value is 255.  To increase the maximum to
XCOMM 65535 define:
XCOMM
XCOMM QUANTUM_DEFINES= -DQuantumLeap

XCOMM Define HasDPS if your X server supports the Display Postscript
XCOMM extension (and you don't have Ghostscript installed).  If you have one
XCOMM of these optional delegates, uncomment the respective define.  Make sure
XCOMM the path names are correct.  See README for more details.
XCOMM
XCOMM #define HasBZLIB
XCOMM #define HasDPS
XCOMM #define HasFPX
XCOMM #define HasHDF
XCOMM #define HasJBIG
XCOMM #define HasJPEG
XCOMM #define HasPNG
XCOMM #define HasTIFF
XCOMM #define HasTTF
XCOMM #define HasZLIB

#ifdef HasBZLIB
BZLIB_DEFINES= -DHasBZLIB
BZLIB_INCLUDES= -I$(TOP)/bzlib
BZLIB_FLAGS= -L$(TOP)/bzlib
BZLIB_LIBRARIES= -lbz2
#endif

#ifdef HasDPS
DPS_DEFINES= -DHasDPS
DPS_INCLUDES= -I/usr/openwin/include/X11
DPS_FLAGS= -L/usr/openwin/lib
DPS_LIBRARIES= -ldpstk -ldps
#endif

#ifdef HasFPX
FPX_DEFINES= -DHasFPX
FPX_INCLUDES= -I$(TOP)/fpx
FPX_FLAGS= -L$(TOP)/fpx
FPX_LIBRARIES= -lfpx
#endif

#ifdef HasHDF
HDF_DEFINES= -DHasHDF
HDF_INCLUDES= -I$(TOP)/hdf/hdf/src
HDF_FLAGS= -L$(TOP)/hdf/hdf/src
HDF_LIBRARIES= -ldf
#endif

#ifdef HasJBIG
JBIG_DEFINES= -DHasJBIG
JBIG_INCLUDES= -I$(TOP)/jbig/libjbig
JBIG_FLAGS= -L$(TOP)/jbig/libjbig
JBIG_LIBRARIES= -ljbig
#endif

#ifdef HasJPEG
JPEG_DEFINES= -DHasJPEG
JPEG_INCLUDES= -I$(TOP)/jpeg
JPEG_FLAGS= -L$(TOP)/jpeg
JPEG_LIBRARIES= -ljpeg
#endif

#ifdef HasPNG
XCOMM Use libpng-1.00 or above.  You must also link with Zlib.
PNG_DEFINES= -DHasPNG
PNG_INCLUDES= -I$(TOP)/png
PNG_FLAGS= -L$(TOP)/png
PNG_LIBRARIES= -lpng
#endif

#ifdef HasTIFF
XCOMM Tiff library requires Jpeg and Zlib libraries.
TIFF_DEFINES= -DHasTIFF
TIFF_INCLUDES= -I$(TOP)/tiff/libtiff
TIFF_FLAGS= -L$(TOP)/tiff/libtiff
TIFF_LIBRARIES= -ltiff
#endif

#ifdef HasTTF
TTF_DEFINES= -DHasTTF
TTF_INCLUDES= -I$(TOP)/ttf -I$(TOP)/ttf/lib/
TTF_FLAGS= -L$(TOP)/ttf/lib/.libs
TTF_LIBRARIES= -lttf
#endif

#ifdef HasZLIB
ZLIB_DEFINES= -DHasZLIB
ZLIB_INCLUDES= -I$(TOP)/zlib
ZLIB_FLAGS= -L$(TOP)/zlib
ZLIB_LIBRARIES= -lz
#endif

XCOMM Might need extra libraries for xtp to link correctly.
XCOMM
XCOMM  EXTRA_LOAD_FLAGS= -lnsl

#ifdef HPArchitecture
CCOPTIONS= -Aa -Dhpux
CDEBUGFLAGS= -O +Onolimit
#endif

XCOMM ImageMagick has an include file named X.h.  Do not set LOCALINC to
XCOMM the top level X11 include directory or X11/X.h will be overwritten.

#ifndef PREFIX
PREFIX= /usr/local
#endif

DelegatePath= -DDelegatePath=\"$(PREFIX)/share/ImageMagick/\"
LOCALDIR= $(PREFIX)/bin
LOCALINC= $(PREFIX)/include
LOCALLIB= $(PREFIX)/lib
LOCALMAN1= $(PREFIX)/man/man1
LOCALMAN4= $(PREFIX)/man/man4
LOCALMAN5= $(PREFIX)/man/man5

MAGICKDIR= $(TOP)/magick
MAGICK_DEFINES= -DHasX11
MAGICK_INCLUDES= -I$(TOP)
MAGICK_FLAGS= -L$(MAGICKDIR)
MAGICK_LIBRARIES= -lMagick

INCLUDES= $(MAGICK_DEFINES) $(MAGICK_INCLUDES) $(DIRENT_DEFINES) \
  $(EXTENSIONS_DEFINES) $(DATABASE_DEFINES) $(QUANTUM_DEFINES) \
  $(BZLIB_DEFINES) $(BZLIB_INCLUDES) $(DPS_INCLUDES) $(FPX_DEFINES) \
  $(FPX_INCLUDES) $(HDF_DEFINES) $(HDF_INCLUDES) $(JBIG_DEFINES) \
  $(JBIG_INCLUDES) $(JPEG_DEFINES) $(JPEG_INCLUDES) $(PNG_DEFINES) \
  $(PNG_INCLUDES) $(TIFF_DEFINES) $(TIFF_INCLUDES) $(TTF_DEFINES) \
  $(TTF_INCLUDES) $(ZLIB_DEFINES) $(ZLIB_INCLUDES) $(DPS_DEFINES) \
  $(DelegatePath)
LOCAL_LDFLAGS= $(MAGICK_FLAGS) $(BZLIB_FLAGS) $(JBIG_FLAGS) $(HDF_FLAGS) \
  $(PNG_FLAGS) $(TIFF_FLAGS) $(TTF_FLAGS) $(JPEG_FLAGS) $(ZLIB_FLAGS) \
  $(FPX_FLAGS) $(DPS_FLAGS)
LOCAL_LIBRARIES= $(MAGICK_LIBRARIES) $(BZLIB_LIBRARIES) $(JBIG_LIBRARIES) \
  $(HDF_LIBRARIES) $(TIFF_LIBRARIES) $(TTF_LIBRARIES) $(JPEG_LIBRARIES) \
  $(PNG_LIBRARIES) $(ZLIB_LIBRARIES) $(FPX_LIBRARIES) $(DPS_LIBRARIES)
REQUIRED_LIBRARIES= $(LOCAL_LDFLAGS) $(BZLIB_LIBRARIES) $(JBIG_LIBRARIES) \
  $(HDF_LIBRARIES) $(TIFF_LIBRARIES) $(TTF_LIBRARIES) $(JPEG_LIBRARIES) \
  $(PNG_LIBRARIES) $(ZLIB_LIBRARIES) $(FPX_LIBRARIES) $(DPS_LIBRARIES)

#ifdef uxpArchitecture
#define ForceSubdirs(dirs)                                              @@\
dirs::                                                                  @@\
        @cd $@ ; $(MAKE) $(MFLAGS) PassCDebugFlags all

INSTALL=/usr/ucb/install -g sys
#endif
