#include "windows.h"
#include "resource.h"

// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ID_ICON_AIK					ICON	DISCARDABLE		"Aiksaurus.ico"
ID_ICON_BACK                ICON    DISCARDABLE     "back.ico"
ID_ICON_BACK_HOVER          ICON    DISCARDABLE	    "back_hover.ico"
ID_ICON_FORWARD             ICON    DISCARDABLE     "forward.ico"
ID_ICON_FORWARD_HOVER       ICON    DISCARDABLE     "forward_hover.ico"
ID_ICON_SEARCH              ICON    DISCARDABLE     "search.ico"
ID_ICON_SEARCH_HOVER        ICON    DISCARDABLE     "search_hover.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

ID_DIALOG_AIKSAURUS DIALOG DISCARDABLE  0, 0, 187, 174
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU 
CAPTION "AikSaurus"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        ID_CBX_SEARCH,42,7,87,75,
					CBS_DROPDOWN | CBS_AUTOHSCROLL |  WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON      "Search",ID_BTN_SEARCH,130,7,50,12,BS_ICON 
    LTEXT           "Meanings:",ID_LBL_MEANING,7,24,85,8
    LTEXT           "Synonyms",ID_LBL_SYNONYMS,95,24,85,8
    LISTBOX         ID_LBX_MEANING,7,35,85,120,
					LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         ID_LBX_SYNONYMS,95,35,85,120,
					LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      ">",ID_BTN_FORWARD,24,7,17,12,BS_ICON 
    PUSHBUTTON      "<",ID_BTN_BACK,7,7,17,12,BS_ICON 
	RTEXT           "Replacement Word:",ID_LBL_REPLACEMENT,7,158,63,12,
					SS_CENTERIMAGE	
	EDITTEXT		ID_EBX_REPLACEMENT,74,158,60,12,
                    ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON		"&Replace",ID_BTN_REPLACEMENT,141,158,40,12

END


