[Desktop Entry]
Name=Gnome Paint Drawing Editor
Name[es_MX]=Editor de deseño Gnome Paint
Name[fr]=Éditeur de dessin Gnome Paint
Name[it]=Editor di disegno Gnome Paint
Name[pt_BR]=Editor de Desenhos Gnome Paint
Comment=Create and Edit Drawings or Images
Comment[es_MX]=Crear o modificar dibujos o imágines
Comment[fr]=Créer et modifier des images ou des dessins
Comment[it]=Creare o modificare immagini o disegni
Comment[pt_BR]=Crie e Edite Desenhos ou Imagens
TryExec=gnome-paint
Exec=gnome-paint %U
Icon=gp.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;RasterGraphics;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
