#!/usr/bin/make -f

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_PATCHDIRS := debian/patches debian/patches_$(DEB_HOST_ARCH)

include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

update-config::
	[ -f qiv-command ] || mv qiv-command.example qiv-command

reverse-config::
	[ ! -f qiv-command ] || mv qiv-command qiv-command.example

clean::
	rm -f qiv xmalloc.o
