Source: emelfm2
Section: universe/x11
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Ralf Meyer <ranfyy@gmail.com>
Build-Depends: libglib2.0-dev, libgtk2.0-dev, libmagic-dev, libdbus-glib-1-dev, debhelper (>= 7), imagemagick
#dpatch not ATM
#libacl1-dev is needed for acl-plugin
#libhal-storage-dev is needed for hal instead of udisks
Standards-Version: 3.8.3
Homepage: http://emelfm2.net

Package: emelfm2
Architecture: any
#if built without USE_LATEST=1, ${shlibs:Depends} is not correct, only need
#libgtk2.0-0 >= 2.6.0, libglib2.0-0 >= 2.6.0, libpango1.0-0 >= 1.8.0, libdbus-glib-1-2 ANY ? libc6 ANY
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libmagic1, libbz2-1.0, grep, sed, xdg-utils, udisks | devicekit-disks (>= 009)
Suggests: tracker-utils
Description: paned file manager for gtk
 emelFM2 is a file manager that implements the efficient two-pane
 design. It features a simple interface, a flexible file typing
 scheme, and a built-in command line for executing commands without
 opening a terminal-emulator application.
 .
 Homepage: http://emelfm2.net

Package: emelfm2-i18n
Section: localization
Architecture: all
Depends: ${misc:Depends}, emelfm2 (= ${source:Version})
Description: Non-english translations for file manager emelFM2
 Provides translated UI strings for: fr, de, ja, ru, pl locales
