[Desktop Entry]
Exec=abiword
Icon=abiword_48
Terminal=false
Type=Application
Categories=Application;Office;WordProcessor;GNOME;GTK;X-Red-Hat-Base;
StartupNotify=true
Encoding=UTF-8
X-Desktop-File-Install-Version=0.9
MimeType=application/x-abiword;text/x-abiword;text/x-xml-abiword;text/plain;application/msword;application/rtf;application/vnd.plain;application/xhtml+xml;text/html;application/x-crossmark;application/docbook+xml;application/x-t602;application/vnd.oasis.opendocument.text;application/vnd.sun.xml.writer;application/vnd.stardivision.writer;text/vnd.wap.wml;application/wordperfect6;application/wordperfect5.1;
Name=AbiWord
GenericName=Word Processor
Comment=Compose, edit, and view documents
Name[de]=Textverarbeitung
Comment[de]=AbiWord Textverarbeitung
Name[nb]=Tekstbehandling
Comment[nb]=AbiWord Tekstbehandling
Name[nl]=Tekstverwerker
Comment[nl]=AbiWord tekstverwerker
Name[nn]=Tekstbehandling
Comment[nn]=AbiWord Tekstbehandling
Name[no]=Tekstbehandler
Comment[no]=AbiWord Tekstbehandler
Name[pt]=Processador de Texto
Comment[pt]=AbiWord Processador de Texto
Name[es]=Procesador de textos Abiword
GenericName[es]=Procesador de textos
Comment[es]=Procesador de textos Abiword
Name[fr]=Traitement de texte AbiWord
GenericName[fr]=Traitement de texte
Comment[fr]=Traitement de texte de Gnome Office
Name[pl]=Edytor tekstu AbiWord
Comment[pl]=Edytor tekstu AbiWord
Name[ja]=AbiWord ワードプロセッサ
Comment[ja]=AbiWord ワードプロセッサ
