BODY
{
font-size:10pt;
font-family:arial,verdana,sans-serif;
}

th
{
font-size:10pt;
font-family:arial,verdana,sans-serif;
}

td
{
font-size:10pt;
font-family:arial,verdana,sans-serif;
}

p
{
margin-top:1em;
margin-bottom:1em;
padding:0px;
}


pre
{
border-right: #646464 1px solid;
padding-right: 0.5em;
border-top: #646464 1px solid;
padding-top: 0.5em;
border-left: #646464 1px solid;
padding-left: 0.5em;
border-bottom: #646464 1px solid;
padding-bottom: 0.5em;
margin-left: 1em;
margin-right: 2em;
white-space: pre;
background-color: #e6e6e6;
color: black;
wrap:yes;
}

#HEADLINE
{
font-size:10pt;
font-family:arial,verdana,sans-serif;
}

A
{
color:#993300;
font-size:10pt;
font-family:arial,verdana,sans-serif;
text-decoration:none;

}

A:hover
{
color:#404040;
font-size:10pt;
font-family:arial,verdana,sans-serif;
text-decoration:none;
}

div.ah
{
background-color: black; 
font-weight: bold; 
color: #ffffff; 
margin-bottom: 3px; 
margin-top: 3px 
}

span.comment
{
color:green;
}

span.keyword
{
color:red;
}

span.keywordtype
{
color:red;
}

span.preprocessor
{
color:blue;
}

