[Desktop Entry]
Type=Application
Name=IVte
Comment=Terminal Emulator
Comment[ar]=محاكي طرفية
Comment[be]=Эмулятар тэрмінала
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[de]=Terminal-Programm
Comment[el]=Προσομοίωση τερματικού
Comment[en_GB]=Terminal Emulator
Comment[eo]=Terminala Simulilo
Comment[es]=Emulador de Terminal para las X
Comment[eu]=Terminal Emuladorea
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[he]=מדמה מסוף
Comment[hu]=Terminál Emulátor
Comment[lv]=Termināļa Emulators
Comment[nb_NO]=Teminalemulator
Comment[nl]=Terminal-emulatieprogramma
Comment[pl]=Emulator terminala
Comment[pt_BR]=Emulador de Terminal
Comment[pt_PT]=Emulador de Terminal
Comment[ro]=Emulator de terminal
Comment[ru]=Эмулятор терминала
Comment[sk]=Terminál Emulátor
Comment[sq]=Emulues Terminali
Comment[sv]=Terminalemulator
Comment[tr]=Uçbirim Öykünücüsü
Comment[uk]=Імітатор терміналу
Comment[ur]=ٹرمنل ایمولیٹر
Comment[vi]=Trình giả lập Terminal
Icon=ivte
Exec=ivte
Categories=System;Utility;TerminalEmulator;
