[Desktop Entry]
Name=Xfe
Name[cs]=Xfe
Name[de]=Xfe
Name[el]=Xfe
Name[es]=Xfe
Name[es_AR]=Xfe
Name[fr]=Xfe
Name[hu]=Xfe
Name[nl]=Xfe
Name[pl]=Xfe
Name[ru]=Xfe
Name[sv]=Xfe
Name[zh_TW]=Xfe
GenericName=File Manager
GenericName[cs]=Souborový manažer
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής Αρχείων
GenericName[es]=Gestor de archivos
GenericName[es_AR]=Gestor de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[hu]=Fájlkezelő
GenericName[nl]=Bestandsbeheerder
GenericName[pl]=Menedżer plików
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ru]=Файловый менеджер
GenericName[sv]=Filhanterare
GenericName[zh_TW]=檔案管理員
Comment=A lightweight file manager for X Window
Comment[cs]=Lehký souborový manažer pro X
Comment[de]=Ein leichter Dateimanager für X Window
Comment[el]=Ένας ελαφρύς διαχειριστής αρχείων για τα X Window
Comment[es]=Un gestor de archivos ligero para X Window
Comment[es_AR]=Un gestor de archivos ligero para X Window
Comment[fr]=Un gestionnaire de fichiers léger pour X Window
Comment[hu]=Pehelysúlyú fájlkezelő X Windowhoz
Comment[nl]=Een lichtgewicht bestandsbeheerder voor X-Window
Comment[pl]=Lekki menadżer plików dla X Window
Comment[pt_BR]=Um gerenciador de arquivos leve para o X Window
Comment[ru]=Легкий файловый менеджер для X Window
Comment[sv]=En lättviktig filhanterare för X Window
Comment[zh_TW]=X 視窗的輕量檔案管理員
Exec=xfe
Terminal=false
Type=Application
StartupNotify=true
Icon=xfe
Categories=System;FileManager;
