[Desktop Entry]
Name=Xfp
Name[cs]=Xfp
Name[de]=Xfp
Name[el]=Xfp
Name[es]=Xfp
Name[es_AR]=Xfp
Name[fr]=Xfp
Name[hu]=Xfp
Name[nl]=Xfp
Name[pl]=Xfp
Name[ru]=Xfp
Name[sv]=Xfp
Name[zh_TW]=Xfp
GenericName=Package Manager
GenericName[cs]=Správce balíků
GenericName[de]=Paketmanager
GenericName[el]=Διαχειριστής Πακέτων
GenericName[es]=Gestor de paquetes
GenericName[es_AR]=Gestor de paquetes
GenericName[fr]=Gestionnaire de paquets
GenericName[hu]=Csomagkezelő
GenericName[nl]=Pakketbeheerder
GenericName[pl]=Menedżer pakietów
GenericName[pt_BR]=Gerenciador de Pacotes
GenericName[ru]=Менеджер Пакетов
GenericName[sv]=Pakethanterare
GenericName[zh_TW]=套件管理員
Comment=A simple package manager for Xfe
Comment[cs]=Jednoduchý správce balíků pro Xfe
Comment[de]=Ein einfacher Paketmanager für Xfe
Comment[el]=Έναςς απλός διαχειριστής πακέτων για τον Xfe
Comment[es]=Un gestor de paquetes simple para Xfe
Comment[es_AR]=Un gestor de paquetes simple para Xfe
Comment[fr]=Un gestionnaire de paquets simple pour Xfe
Comment[hu]=Egyszerű csomagkezelő Xfe-hez
Comment[nl]=Een eenvoudige pakketbeheerder voor Xfe
Comment[pl]=Prosty menedżer pakietów dla Xfe
Comment[pt_BR]=Um simples gerenciador de pacotes para o Xfe
Comment[ru]=Простой менеджер пакетов для Xfe
Comment[sv]=En enkel pakethanterare för Xfe
Comment[zh_TW]=Xfe 的簡易套件管理員
Exec=xfp
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-deb;application/x-debian-package;application/x-rpm;
Icon=xfp
Categories=Utility;PackageManager;
