[Desktop Entry]
Name=Xfv
Name[cs]=Xfv
Name[de]=Xfv
Name[el]=Xfv
Name[es]=Xfv
Name[es_AR]=Xfv
Name[fr]=Xfv
Name[hu]=Xfv
Name[nl]=Xfv
Name[pl]=Xfv
Name[ru]=Xfv
Name[sv]=Xfv
Name[zh_TW]=Xfv
GenericName=Text Viewer
GenericName[cs]=Prohlížeč textů
GenericName[de]=Textbetrachter
GenericName[el]=Προβολέας Κειμένου
GenericName[es]=Visor de texto
GenericName[es_AR]=Visor de texto
GenericName[fr]=Visualiseur de texte
GenericName[hu]=Szöveges fájl megjelenítő
GenericName[nl]=tekstviewer
GenericName[pl]=Przeglądarka tekstu
GenericName[pt_BR]=Visualizador de Texto
GenericName[ru]=Просмотрщик текста
GenericName[sv]=Textvisare
GenericName[zh_TW]=文字檢視器
Comment=A simple text viewer for Xfe
Comment[cs]=Jednoduchý prohlížeč textů pro Xfe
Comment[de]=Ein einfacher Textbetrachter für Xfe
Comment[el]=Ένας απλός προβολέας κειμένου για τον Xfe
Comment[es]=Un visor de texto simple para Xfe
Comment[es_AR]=Un visor de texto simple para Xfe
Comment[fr]=Un visualiseur de texte simple pour Xfe
Comment[hu]=Egyszerő fájlmegjelenítő Xfe-hez
Comment[nl]=Een eenvoudige tekstviewer voor Xfe
Comment[pl]=Prosta przeglądarka tekstu dla Xfe
Comment[pt_BR]=Um simples visualizador de texto para o Xfe
Comment[ru]=Простой просмотрщик текста Xfe
Comment[sv]=En enkel textvisare för Xfe
Comment[zh_TW]=Xfe 的簡單的文字檢視器
Exec=xfv
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=xfv
Categories=Utility;Viewer;
