Source: atol
Section: x11
Priority: optional
Maintainer: Cyril Brulebois <cyril.brulebois@enst-bretagne.fr>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, libgnomevfs2-dev, libssl-dev
Standards-Version: 3.6.1

Package: atol
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dual panel file manager
 Atol is a dual panel file manager, simillar to Midnight Commander, but written using
 GTK+ toolkit and C++ programming language. 
