Source: xfe
Section: x11
Priority: optional
Maintainer: Roland Baudin <roland65@free.fr>
Build-Depends: cdbs, autotools-dev, debhelper (>= 4.0.0), libfox-1.6-dev, libpng12-dev,  libxft-dev, libx11-dev
Standards-Version: 3.6.1

Package: xfe
Architecture: any
Depends: ${shlibs:Depends}
Recommends:
Description: A lightweight file manager for X11
 Xfe is desktop independent and is written using the C++ Fox Toolkit.
 It has Windows Commander or MS-Explorer look and is very fast and simple.
 Included in the package are a simple text viewer (Xfv),
 a simple text editor (Xfw),a simple package manager (Xfp)
 and a simple image viewer (Xfi).
