#!/usr/bin/make -f
# example debian/rules for cdbs packages

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

# Avoid default flags set from the distribution
CFLAGS=
CXXFLAGS=
LDFLAGS="-Wl,--as-needed"
DEB_CONFIGURE_EXTRA_FLAGS += --enable-release


