@charset "ISO-8859-1" ;

@import url("http://www.yahoo.com/css") print , screen ;

@font-face {
 font-family: "Robson Celtic";
 src: url("http://site/fonts/rob-celt")	
}



@page left:one-two {
      margin: 10pt;
      border:none
}

@media print , screen , projection {
      H1 { font-family: "Robson Celtic", serif }

      P { 
	  background: black ;
	  foreground: white ;
      }
}
