p.commentsbody {
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
	margin-right: 20px;
	text-align: justify;
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
}

body {
    background: #606060;
    color: #000000;  
}

a:link {    
    color: #0000FF;    
    background: transparent;
    text-decoration: none;
}    

a:visited {    
    color: #990099;    
    background: transparent;
    text-decoration: none;
}    

  
a:active {    
    color: #000000;    
    background: #ADD8E6;
    text-decoration: none;
}    


h1.rubrique_info {  
    color: #990033;  
    margin: 0px 0px 0px 0px;
    padding: 0em; 
    border: 0px;
    font-size: 12px;
}


h1.connexe {
    font-size: 12px;
    padding: 0em;
    margin: 0px 0px 0px 0px;
    color: #990033;
}

a.rubrique_infolink {
    text-decoration: none;
}

ul.rubrique_infoul {
    display: inline;
    list-style-type: square;
}
ul.rubrique_infoul * {
    width: 100%;
}
li.rubrique_infoul {
    margin-left: 15px;
}
h1 {
    color: #990033;   
}

div.main {  
    background: white;  
    color: #000000;  
    margin-left: 5px;
    margin-right: 5px;
    border: 1px black solid;
    text-align: left;
    font-size: 12px;
}
div.lsfnbanner {
	margin-left: 150px;
	margin-right: 170px;
	border-top: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    text-align: left;
    font-size: 11px;
	padding-top: 2px;
	background-color: #eeeae6;
}
div.footer {
    padding-top: 5px;
    padding-bottom: 3px;
    border-top: 1px black solid;
	border-left: 1px black solid;
	border-right: 1px black solid;
    text-align: left;
    font-size: 9px;
    background: #dcdff4;
	width: 600px;
	margin-top: 40px;
	margin-left: 20px;
}
div.footer p {
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
}

a.lsfnlink:link,a.lsfnlink:visited,a.lsfnlink:active {
    text-decoration: none;
    color: #333333;
    font-size: 10px;
}
a.lsfnlink:hover {
    text-decoration: underline;
    color: black;
}
div.menubartop {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    font-size: 13px;
}
div.smallmenubar {
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight:bold;
    font-size: 10px;
    text-align: right;
}
div.menuevent {
    float: left;
    width: 350px;
    font-size: 11px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: bold;
    margin: 0px;
}
div.menubar {
    background: #cac2a8;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
	padding-bottom: 2px;
    font-weight:bold;
    font-size: 13px;
}
div.menubar a {
	text-decoration: none;
}
div.menudate {
    float: left;
    width: 130px;
	padding-top: 5px;
}
div.menuaccroche {
	margin-left: 30px;
	float: left;
    text-decoration: underline;
	font-size: 14px;
}
div.menusearch {
	float: right;
    text-align: right;
	padding-top: 5px;
	width: 170px;
}
div.menusearch p {
	margin: 0px 0px 0px 0px;
}
.searchinput {
    border: solid 1px black;
}
a#menulinkselect {
	color: #ed7e00;
}

div.leftbox {
    width: 200px; 
    float: left; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    background: white;
    margin-bottom: 10px;
}
div.leftbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 10px;
	margin: 0px;
}
div.leftbox h2 {
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
}
div.leftbox ul {
    list-style-type: square;
	margin-bottom: 10px;
	margin-left: 0em;
	padding-left: 0em;
}
div.leftbox li {
	margin-left: 10px;
}

div.rightbox {
    width: 150px; 
    float: right; 
    padding-top: 10px;
    padding-left: 5px;
	padding-right: 15px;
    padding-bottom: 5px;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
	text-align: left;
}
div.newjournaldiv {
	text-align: justify;
	margin-left: 10%;
	font-size: 12px;
	width: 600px;
}
div.newjournaldiv p {
	margin-bottom: 0px;
	margin-top: 20px;
}
div.journaldiv {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px black solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #eef;
}
div.journaldiv p {
	margin-top: 10px;
	margin-bottom: 0px;
}
div.journaldiv h1 {
    color: #990033;  
    font-size: 14px;
	margin: 0px;
}
div.journaldiv h2 {
    font-size: 10px;
	margin: 0px;
}
div.tipdiv {
	margin-left: 220px;
	margin-right: 50px;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: justify;
	background-color: #eee;
	border: black solid 1px;
}
div.tipdiv h1 {
	font-weight: bold;
	font-size: 14px;
	color: black;
    margin-top: 0px;
    margin-bottom: 20px;
}
div.tipdiv h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 12px;
	margin: 0px;
}

div.newsdiv {
    margin-left: 220px;
    margin-right: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
	text-align: justify;
}
div.newsdiv h1 {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}
div.newsdiv h2 {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}
div.newsdiv h3 {
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 20px;
}
div.objdiv {
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1.newstitle {
    text-align: left;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    color: black;
}
div.titlediv {
    border-top: solid #cac2a8 2px;
    margin-top: 20px;
    background-color: #eeeae6;
    padding-left: 10px;
    font-size: 11px;
}
div.bodydiv {
    border: solid #9e9784 1px;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
    margin-top: 2px;
    text-align: justify;
}

div.comments {
    padding: 10px;
    border-top: solid 2px #d37537;
    border-bottom: solid 2px #d37537;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #cacaca;
    font-size: 12px;
    line-height: 1.3em;
}

p.commentsbody {
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
	text-align: justify;
	margin-right: 20px;
}

div.commentsreply {
	margin-left: 220px;
	text-align: center;
	margin-top: 50px;
}

ul.commentsul {
    list-style-type: none;
	margin-bottom: 10px;
	margin-left: 1.25em;
	padding-left: 0em;
	border-left: 1px solid black;
}
ul.commentsli {
	margin: 10px;
}
div.comments li {
	margin-top: 20px;
	margin-left: 2px;
}

div.comments h1 {
    font-size: 12px;
    color: black;
    margin: 0px 20px 3px 0px;
    background-color: rgb(226, 226, 226);
    padding-left: 1px;
    font-weight: none;
}

div.articlediv {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 220px;
    border: solid 1px black;
    margin-top: 10px;
    text-align: justify;
    background-color: #E2E2E2;
}
img {
    border: 0px;
}
div.sectionimg {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
p.hautpage {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
div.leftcol {
	width: 202px;
	width: 202px;
	float: left;
	padding: 0px;
}
div.logodiv {
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	padding: 0px;
	line-height: 0px
}
div.loginbox {
	margin-left: 4px;
	border: solid #a59f8b 1px;
	margin-top: 2px;
	padding: 5px;
	background-color: #fff2e8;
	font-size: 10px;
}
div.loginbox p {
	margin: 0px;
	padding: 0px;
}
div.loginbox ul {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
    	list-style-type: none;
}
div.loginbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 10px;
	margin: 0px;
}
div.loginbox h2 {
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
}
div.loginbox h3 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 12px;
}
div.polldivtitle {
	margin-bottom: 1px;
	background-color: #cac2a8;
	margin-left: 4px;
	margin-top: 15px;
	padding-left: 5px;
	font-size: 10px;
	border-top: solid #a59f8b 1px;
	border-bottom: solid #a59f8b 1px;
	text-transform: uppercase;
}
div.polldiv {
	margin-left: 4px;
	border: 1px #a59f8b solid;
	margin-top: 0px;
	padding: 5px;
	background: #fff2e8;
}
div.polldiv p {
margin: 5px; padding: 0px;
}
div.polldiv ul {
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
    list-style-type: none;
}
div.otherboxtitle {
	margin-bottom: 2px;
	background-color: #e3dabc;
	margin-left: 4px;
	margin-top: 15px;
	padding-left: 5px;
	padding-top: 2px;
	font-size: 11px;
	border-top: solid #777364 1px;
	border-bottom: solid #777364 1px;
	text-transform: uppercase;
	font-weight: bold;
}
div.otherbox {
	margin-left: 4px;
	border: 1px #a59f8b solid;
	margin-top: 0px;
	padding: 5px;
	text-align: justify;
	background: #fff2e8;
	font-size: 10px;
}
div.otherbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 10px;
	margin: 0px;
}
div.otherbox h2 {
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
}
div.otherbox p {
	margin-top: 5px;
	margin-bottom: 10px;
}
div.rightlogo { 
    width: 90px; 
    float: right;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}   
div.centraldiv {
    margin-left: 220px;
    margin-right: 10px;
    margin-bottom: 20px;
	margin-top: 10px;
}
div.centraldiv h1 {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}
div.centraldiv h2 {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}
div.centraldiv h3 {
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 20px;
}
div.centralinfo {
	position:relative;
	height:160px;
}
div.lefttopbox {
	position:relative;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border: 1px #a59f8b solid;
	text-align: justify;
	background: #fff2e8;
	font-size: 12px;
	width: 47%;
	float: left;
}
div.lefttopbox p {
	margin-top: 5px; margin-bottom: 10px;
}
div.lefttopbox h1 {
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	text-align: right;
}
div.lefttopbox h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 10px;
	margin: 0px;
}
div.lefttopbox h3 {
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
}
div.righttopbox {
	position:relative;
	border: 1px #a59f8b solid;
	background: white;
	padding: 5px;
	text-align: justify;
	font-size: 12px;
	width: 47%;
	float: right;
}
div.righttopbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed7e00;
	font-size: 10px;
	margin: 0px;
}
div.righttopbox h2 {
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
}
div.boardindex {
	text-align: justify;
	font-size: 11px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
a.boardindex:link,a.boardindex:visited,a.boardindex:active {
	text-decoration:none;
	color: red;
}
div.boardleftmsg {
	float: left;
	margin-top: 3px;
}
div.boardrightmsg {
	margin-left: 130px;
	margin-top: 3px;
	padding-left: 5px;
}
div.journalbody {
	margin-left: 40px;
	margin-top: 40px;
}
div.journalbody h1 {
	font-size: 15px;
	font-weight: bold;
}
div.journalbody p {
	margin-bottom: 20px;
}
.formulaire {
    border: solid 1px black;
font-size: 12px;
background-color: #eef;
color: #000000;
}
.newcomments {
	color: red;
	font-weight: bold;
}
div.commentsreplythanks {
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 100px;
	background-color: #eee;
	border: black solid 1px;
	padding: 10px;
}
div.archivediv {
	margin-right: 20px;
}
.archivedate {
	color:#f30;
}
.archivelink {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
