S1:lang(c) {prop1 : value1}

/*simple Attribute set selectors*/
s1[foo] {prop1 : value1}

/*simple exact attribute selector, simple ruleset*/
s1[foo="warning"] {prop1 : value1}

/**
 *"space separated value list"
 *attribute selector, simple ruleset
 */
s1[foo~="warning"] {prop1 :value1}

/**
 *"hyphen separated value list" attribute selector,
 * simple ruleset
 */

 /*simple class selector, simple ruleset*/
 s1.warning {prop1 : value}

 E#myid {prop1 : value1}


/*below are tests that we know are working*/

/*simple ident pseudo class selector, simple ruleset test*/
S1:first-child {prop1 : value1 ; prop2 : value2}

/*function pseudo class selector, simple ruleset test => merdoie*/
S1:lang(c) {prop1 : value1}

/*Adjacent selectors, simple ruleset test*/
S1 + s2 {prop1: value1}

