<--

DIV.std
 {color: orange
 }

a,blockquote,body,br,button,caption,center,code,col,dd,del,div,dl,dt,em,embed,form,frame,frameset,h1,h2,h3,head,hr,html,iframe,img,input,ins,kbd,label,layer,legend,li,link,map,marquee,meta,nobr,noframes,noscript,object,ol,optgroup,option,p,pre,q,s,samp,script,select,small,span,strike,strong,style,sub,sup,table,tbody,td,th,textarea,tfoot,thead,title,tr,tt,u,ul,wbr
 {font-family: sans-serif
 } 

body
 {font-size: 12pt;
  font-family: sans-serif
 }

center.bullet
 {font-size: 24pt;
  font-family: "Kapl";
  color: red
 }


font.Courier
 {font-size: 12pt;
  font-family: "courier", "monospace"
 }


font.pt6
 {font-size: 6pt;
  font-family: sans-serif
 }

font.pt7
 {font-size: 7pt;
  font-family: sans-serif
 }

font.pt8
 {font-size: 8pt;
  font-family: sans-serif
 }

font.pt10
 {font-size: 10pt;
  font-family: sans-serif
 }

font.pt11
 {font-size: 11pt;
  font-family: sans-serif
 }

font.pt12
 {font-size: 12pt;
  font-family: sans-serif
 }

font.pt14
 {font-size: 14pt;
  font-family: sans-serif
 }

font.pt18
 {font-size: 18pt;
  font-family: sans-serif
 }

font.pt24
 {font-size: 24pt;
  font-family: sans-serif
 }

font.NewsHL
 {font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  color: red;
  font-family: sans-serif
 }

b {font-weight: bold}



h1xx
 {font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffc6;
  line-height: 200%
 }

h1
 {font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffefcf
 }

h2
 {font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
  color: white
 }

h3
 {font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
  color: red
 }

tablexx     
 {font-size: 12pt;
  font-weight: normal;
  font-family: sans-serif
 }

td.left
 {font-size: 12pt;
  font-family: sans-serif;
  color: white;
  text-align: right;
  vertical-align: top;
  width: 200
 }

td.leftclick
 {font-size: 12pt;
  font-family: sans-serif;
  text-align: right;
  vertical-align: top;
  width: 200
 }

td.right
 {font-size: 12pt;
  font-family: sans-serif;
  color: black;
  text-align: left;
  width: 415
 }

td.date
 {font-size: 12pt;
  font-family: sans-serif;
  color: black;
  text-align: right;
  vertical-align: top;
  width: 200
 }

td.NewsHL
 {font-size: 12pt;
  font-family: sans-serif;
  color: red;
  text-align: left;
  width: 415
 }

tr
 {font-size: 12pt;
  font-family: sans-serif;
  text-align: left
 }

li.a
 {list-style: disk;
  margin: 0 1 0 0;
  text-indent: -24pt
 }

li.b
 {list-style: circle;
  text-align: left;
  margin: 0 1 0 0;
  text-indent: 0pt
 }

-->
