[Desktop Entry]
Type=Application
Version=1.0
Name=Geany
Name[ast]=Geany
Name[be]=Geany
Name[bg]=Geany
Name[ca]=Geany
Name[cs]=Geany
Name[de]=Geany
Name[el]=Geany
Name[en_GB]=Geany
Name[es]=Geany
Name[fa]=Geany
Name[fi]=Geany
Name[fr]=Geany
Name[gl]=Geany
Name[hu]=Geany
Name[it]=Geany
Name[ja]=Geany
Name[kk]=Geany
Name[ko]=지니
Name[lb]=Geany
Name[nl]=Geany
Name[pl]=Geany
Name[pt]=Geany
Name[pt_BR]=Geany
Name[ro]=Geany
Name[ru]=Geany
Name[sl]=Geany
Name[sv]=Geany
Name[tr]=Geany
Name[uk]=Geany
Name[vi]=Geany
Name[zh_CN]=Geany
Name[zh_TW]=Geany
GenericName=Integrated Development Environment
GenericName[ast]=Entornu Integráu de Desarrollu
GenericName[be]=Інтэграванае асяроддзе распрацоўкі
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn Integrat de Desenvolupament
GenericName[cs]=Integrované vývojové prostředí
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[el]=Ενιαίο Περιβάλλον Ανάπτυξης
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno de desarrollo integrado
GenericName[fa]=محیط توسعه ی نرم افزار
GenericName[fi]=Integroitu ohjelmointiympäristö
GenericName[fr]=Environnement de Développement Intégré
GenericName[gl]=Contorno integrado de desenvolvemento
GenericName[hu]=Integrált Fejlesztői Felület
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[kk]=Интеграцияланған өндіру ортасы
GenericName[ko]=통합 개발 환경
GenericName[lb]=Integréiert Entwécklungsumgebung
GenericName[nl]=Geintegreerde Ontwikkel Omgeving
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt]=Ambiente Integrado para Desenvolvimento
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[ro]=Mediu de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[sl]=Vdelano razvojno okolje
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[tr]=Tümleşik Geliştirme Ortamı
GenericName[uk]=Об'єднане середовище розробки
GenericName[vi]=Môi trường Phát triển Hợp nhất
GenericName[zh_CN]=集成开发环境
GenericName[zh_TW]=整合開發環境
Comment=A fast and lightweight IDE using GTK2
Comment[ast]=Un IDE rápidu y llixeru basáu en GTK2
Comment[be]=Хуткае і легкаважнае асяроддзе распрацоўкі, выкарыстоўваючае GTK2
Comment[ca]=Un IDE lleuger i veloç que usa GTK2
Comment[cs]=Rychlé a lehké IDE pro GTK2
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK2
Comment[el]=Γρήγορο και ελαφρύ GTK2 IDE
Comment[en_GB]=A fast and lightweight IDE using GTK2
Comment[es]=Un IDE rápido y ligero para GTK2
Comment[fa]=A fast and lightweight IDE using GTK2
Comment[fi]=Nopea ja kevyt GTK2-pohjainen ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK2
Comment[gl]=Un IDE rápido e lixeiro empregando GTK2
Comment[hu]=Gyors és pehelykönnyű IDE GTK2 alapokon
Comment[it]=Un IDE veloce e leggero che usa GTK2
Comment[ja]=GTK2 を用いた高速で軽量な IDE
Comment[kk]=GTK2 негізінде жылдам әрі жеңіл өндіру ортасы
Comment[ko]=빠르고 가벼운 GTK2 기반의 통합개발환경
Comment[lb]=En klenge an schnelle IDE fir GTK2
Comment[nl]=Een snel en lichtgewicht, op GTK2 gebaseerde, IDE
Comment[pl]=Geany - szybkie i lekkie środowisko programistyczne
Comment[pt]=Um IDE rápido e leve, escrito em GTK2
Comment[pt_BR]=Um IDE rápido e leve usando GTK2
Comment[ro]=Un IDE rapid folosind GTK2
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK2
Comment[sl]=Hitro in lahkotno vdelano razvojno okolje z uporabo GTK2
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK2
Comment[tr]=GTK2 kullanan hızlı ve hafif bir IDE
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK2
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK2
Comment[zh_CN]=一个使用 GTK2 编写的轻快的 IDE
Comment[zh_TW]=一個快速且輕巧的 GTK2 整合開發環境
Exec=geany %F
Icon=geany
Terminal=false
Categories=GTK;Development;IDE;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
StartupNotify=true
