[Desktop Entry]
Version=1.0
Type=Application
Name=UFRaw Batch recursive
Name[ca]=Lot recursiu UFRaw
Name[cs]=Hromadné zpracování adresáře v UFRaw
Name[de]=Rekursive UFRaw-Stapelverarbeitung
Name[es]=UFRaw Batch recursivo
Name[fr]=Traitement par lots UFRaw récursif
Name[nl]=Recursieve UFRaw Batch
Name[pt_BR]=Lote UFRaw recursivo
Name[ro]=Batch UFRaw recursiv
Name[ru]=Рекурсивная пакетная обработка UFRaw
Name[sr]=Пакетно развиј све садржано
Name[sr@latin]=Paketno razvij sve sadržano
Name[sv]=UFRaw batch, rekursivt

# call the helper script with current directory as an argument
Exec=geeqie-ufraw --recursive .

# show only if ufraw is installed
TryExec=ufraw

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "Edit"
X-Geeqie-Menu-Path=EditMenu/EditSection

# It can be made verbose
# X-Geeqie-Verbose=true

Icon=ufraw
