[Desktop Entry]
Version=1.0
Type=Application
Name=UFRaw Batch
Name[ca]=Lot UFRaw
Name[cs]=Hromadné zpracování v UFRaw
Name[de]=UFRaw-Stapelverarbeitung
Name[es]=UFRaw Batch
Name[fr]=Traitement par lots UFRaw
Name[nl]=UFRaw Batch
Name[pt_BR]=Lote UFRaw
Name[ro]=Batch UFRaw
Name[ru]=Пакетная обработка UFRaw
Name[sr]=Пакетно развиј у НЛRaw-у
Name[sr@latin]=Paketno razvij u NLRaw-u
Name[sv]=UFRaw batch

# call the helper script on each file individually 
# - this allows a better controll over processing
Exec=geeqie-ufraw %f

# show only if ufraw is installed
TryExec=ufraw

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "Edit"
X-Geeqie-Menu-Path=EditMenu/EditSection

# It can be made verbose
X-Geeqie-Verbose=true

MimeType=application/x-ufraw;image/x-dcraw;

Icon=ufraw
