[Desktop Entry]
Version=1.0
Type=Application
Name=Edit UFRaw ID file
Name[ca]=Edita la ID del fitxer UFRAW
Name[cs]=Upravit UFRaw ID soubor
Name[de]=Bearbeite UFRaw-ID-Datei
Name[es]=Editar archivo ID de UFRaw
Name[fr]=Éditer un fichier UFRaw ID
Name[nl]=Pas UFRaw ID bestand aan
Name[pt_BR]=Editar arquivo UFRaw ID
Name[ro]=Editează fișierul ID al UFRaw
Name[ru]=Редактировать ID-файл UFRaw
Name[sr]=Измени НЛRaw ИБ датотеку
Name[sr@latin]=Izmeni NLRaw IB datoteku
Name[sv]=Redigera ID-filen till UFRaw

Exec=ufraw --create-id=only %U

# show only if ufraw is installed
TryExec=ufraw

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "Edit"
X-Geeqie-Menu-Path=EditMenu/EditSection

# It can be made verbose
# X-Geeqie-Verbose=true

MimeType=application/x-ufraw;image/x-dcraw;

Icon=ufraw
