[Desktop Entry]
Version=1.0
Name=Claws Mail
GenericName=E-mail client
GenericName[ca]=Client de correu electrònic
GenericName[cs]=E-mailový klient
GenericName[da]=E-post klient
GenericName[es]=Cliente de correo electrónico
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Client de messagerie électronique
GenericName[hu]=Levelezőkliens
GenericName[id]=Pembaca E-mail
GenericName[ja]=Eメールクライアント
GenericName[lt]=El. pašto klientas
GenericName[pl]=Program poczty elektronicznej
GenericName[pt-br]=Cliente de e-mail
GenericName[sk]=Poštový klient
Exec=claws-mail %u
Icon=claws-mail
Categories=GTK;Network;Email;
Comment=Lightweight and Fast GTK+ based Mail Client
Comment[ca]=Client de correu electrònic ràpid i lleuger basat en GTK+
Comment[cs]=Lehký a rychlý mailový klient založený na GTK+
Comment[da]=Letvægts og hurtig GTK+ baseret e-post klient
Comment[es]=Cliente de correo rápido y ligero basado en GTK+
Comment[fi]=Kevyt ja nopea GTK+-pohjainen sähköpostiohjelma
Comment[fr]=Client de messagerie électronique, rapide et léger, en GTK+
Comment[hu]=Pehelysúlyú és gyors GTK+ alapú levelezőkliens
Comment[id]=Pembaca e-mail berbasis GTK+ yang cepat dan ringan
Comment[ja]=軽量で早いGTK+ベースのEメールクライアント
Comment[lt]=Lengvas ir greitas el. pašto klientas GTK+ pagrindu
Comment[pl]=Program pocztowy używający GTK+
Comment[pt-br]=Cliente de e-mail leve e rápido, baseado em GTK+
Comment[sk]=Odľahčený a rýchly poštový klient, založený na GTK+
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
