include zenmap README COPYING COPYING_HIGWIDGETS
recursive-include share/zenmap/pixmaps *.png *.svg
recursive-include share/zenmap/locale *.mo *.po *.pot
recursive-include share/zenmap/docs *.html
recursive-include share/zenmap/docs/comparing_results *.xml
recursive-include share/zenmap/docs/profile_editor *.xml
recursive-include share/zenmap/docs/scanning *.xml
recursive-include share/zenmap/docs/searching *.xml
recursive-include share/zenmap/docs/wizard *.xml
recursive-include share/zenmap/docs/screenshots *.png
recursive-include share/zenmap/config *.conf *.usp zenmap_version
recursive-include share/zenmap/misc *.xml
recursive-include zenmapCore *.py
recursive-include zenmapGUI *.py
