[Desktop Entry]
Version=1.0
Type=Application
Name=Import Geeqie 1.0alphaX metadata
Name[ca]=Importa metadades de Geeqie 1.0alphaX
Name[cs]=Importovat metadata z Geeqie 1.0alphaX
Name[de]=Importiere Geeqie 1.0alphaX-Metadaten
Name[es]=Importar metadatos de Geeqie 1.0alphaX
Name[fr]=Importer les méta-données de Geeqie 1.0alphaX
Name[nl]=Importeer Geequi 1.0alphaX metadata
Name[pt_BR]=Importar os metadados do Geeqie 1.0alphaX
Name[ro]=Importă metadate Geeqie 1.0alphaX
Name[ru]=Импорт метаданных Geeqie 1.0alphaX
Name[sr]=Увези метаподатке из Чудака 1.0alphaX
Name[sr@latin]=Uvezi metapodatke iz Čudaka 1.0alphaX
Name[sv]=Importera metadata från Geeqie 1.0alphaX

# call the helper script
Exec=geeqie-import geeqie-1-alpha

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "File"
X-Geeqie-Menu-Path=EditMenu/PreferencesMenu

# It can be made verbose
X-Geeqie-Verbose=true
