[Desktop Entry]
Version=1.0
Type=Application
Name=Import GQView metadata
Name[ca]=Importa metadades de GQView
Name[cs]=Importovat metadata z GQView
Name[de]=Importiere GQView-Metadaten
Name[es]=Importar metadatos de GQView
Name[fr]=Importer les méta-données de GQView
Name[nl]=Importeer GQView metadata
Name[pt_BR]=Importar os metadados do GQView
Name[ro]=Importă metadate GQView
Name[ru]=Импорт метаданных GQView
Name[sr]=Увези метаподатке из GQView-а
Name[sr@latin]=Uvezi metapodatke iz GQView-a
Name[sv]=Importera metadata från Gqview

# call the helper script
Exec=geeqie-import gqview

# Desktop files that are usable only in Geeqie should be marked like this:
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;

# Show in menu "File"
X-Geeqie-Menu-Path=EditMenu/PreferencesMenu

# It can be made verbose
X-Geeqie-Verbose=true
