[Desktop Entry]
Encoding=UTF-8
Name=Atol File Manager
Type=Application
Comment=File Manager
Icon=atol.xpm
TryExec=atol
Exec=atol
Terminal=false
Categories=Application;Office;Utility