
      body {
        margin: 0;
        padding: 0;
      }
      div.paper {
        background-color: #fff;
        margin: 1em;
        margin-right: 3em;
        margin-left: 280px;
      }
      iframe {
        background-color: #aaa;
      }
      div.content {
        padding: 1em;
        padding-right: 3em;
        padding-left: 2em;
        max-width: 45em;
      }
      div.graphic {
        position: absolute;
        position: fixed;
        color: #fff;
        width: 256px;
        height: 362px;
        bottom: 0;
        left: 0;
        text-align: right;
        padding-bottom: 1em;
      }
      p {
        line-height: 1.2em;
      }
      h1 {
        margin-top: 0em;
      }
      h1, h2, h3 {
        color: #112266;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1.2em;
      }
      dl {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      div.expander {
        border: 1px solid #bbb;
      }
      div.expander_title {
        border-bottom: 1px solid #aaa;
      }
      div.expander_content {
        margin-left: 3em;
        display: none;
        padding-bottom: 1em;
      }
      div.expander_content dl{
        margin: 0;
        padding: 0;
      }

      table th {
        font-weight: normal;
        background-color: #ccc;
        text-align: left;
      }
      span.component {
        background-color: #060;
        padding-left: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        display: block;
        float: left;
        overflow: hidden;
        width: 4em;
        color: white;
        border: 1px solid gray;
        border: 1px solid white;
        clear: both;
      }
      span.type {
        display: block;
        background-color: #006;
        padding-left: 0.5em;
        clear: both;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        float: left;
        overflow: hidden;
        width: 4em;
        color: white;
        border: 1px solid white;
      }

      .nopad {
        margin :0;
        padding:0;
      }

      td.component {
        background-color: #060;
        padding-left: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        overflow: hidden;
        width: 4em;
        color: white;
        border: 1px solid white;
      }
      td.type {
        background-color: #006;
        padding-left: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        overflow: hidden;
        width: 4em;
        color: white;
        border: 1px solid white;
      }
      span.spacer {
        float: left;
        display: block;
        overflow: hidden;
        width: 0.2em;
      }
      span.name {
        width: 100%;
        display: block;
        overflow: hidden;
        border-top: 1px solid #ccc;
      }
      span.string {
        color: #060;
      }
      span.function {
        color: #006;
      }
      span.paren {
        color: #555;
      }
      span.NULL {
        color: #555;
      }
      pre.authors {
        font-size: 100%;
        font-family: FreeSans, Verdana, sans-serif;
        position: relative;
        top: -2em;
      }
      img.BablFish {
         float: right;
         position: relative;
         top: -8px;
         border: none;
      }
      @media screen {
        body {
          background-color: #405070;
          font-family: FreeSans, Verdana, sans-serif;
        }
        a {
          text-decoration: none;
        }
        pre {
          overflow: auto;
        }
        div.toc {
          position: absolute;
          position: fixed;
          width: 256px;
          top: 0;
          left: 0;
          padding-top: 2em;
          z-index: 2;
        }
        div.toc ul {
          padding-left: 0em;
          float: right;
          margin: 0;
        }
        div.toc li {
          display: block;
          padding-right: 1em;
        }
        div.toc li a{
          display: block;
          padding-left: 1em;
          padding-right: 1em;
          color: #fff;
        }
        div.toc li a:hover {
          color: #fff;
          background-color: #506080;
        }
        div.paper {
          max-width: 50em;
          -moz-border-radius: 1em;
        }
        div.content {
        }
        div.graphic {
           background: url("graphics/babl-a4poster.png");
           z-index: 1;
        }
        div.print {
          display: none;
        }
      }

      @media print {
        body {
          background-color: none;
          font-family: FreeSans, Verdana, sans-serif;
        }
        a, em {
          /* XXX: work-around for rendering bug, should investigate whether
           * this issue is fixed in the latest gecko
           */
          padding-right: 3em;
          padding-left: 1em;  
        }
        a {
          text-decoration: none;
        }

        div.toc ul {
          padding-left: 0em;
          float: right;
          margin: 0;
        }
        div.toc li {
          display: block;
          padding-right: 1em;
        }
        div.toc li a{
          display: block;
          padding-left: 1em;
          padding-right: 1em;
          color: #fff;
        }
        div.toc li a:hover {
          color: #fff;
          background-color: #506080;
        }
        div.toc ul {
          padding-left: 0em;
          float: none;
          margin: 0;
          margin-left: 1em;
        }
        div.toc {
          position: absolute;
          width: 256px;
          top: 0;
          left: 2em;
          padding-top: 2em;
          z-index: 2;
        }
        div.toc ul {
          margin-left: 0;
        }
        div.toc li a {
          color : #000;
        }
        div toc h2 {
          margin: 0;
          padding: 0;
        }
        h1 {
          margin-left: -0.75em;
        }
        h2 {
          margin-left: -1em;
        }
        span.component {
          background-color: #7f7;
          color: black;
        }
        span.type {
          background-color: #aaf;
          color: black;
        }
        table th {
          font-weight: bold;
        }
        div.print_title {
          position: absolute;
          top: 3em;
          padding-left: 2em;
          margin-left: 280px;
        }
        div.paper {
          padding-top: 4em;
        }
        div.graphic {
          background-color: #bbf;
          height: 100%;
        }
        div.graphic img {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        div.screen {
          display: none;
        }
      }
