html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
	margin: 0;
	padding: 0;

}
.body a {
	color: #6E6E6E;
	text-decoration: none;
	border-bottom: 1px dashed #6E6E6E;

}
.body a:hover {
	color: #6E6E6E;
	text-decoration: none;
	border-bottom: 1px solid #6E6E6E;

}

.body {
	border-bottom: 3px solid #EBEBEB;
	min-height: 500px;
	overflow: auto;
	padding-top: 18px;
	color: #454545;
	text-align: justify;

}
.body .contents {
	width: 750px;
	float: right;
	padding-top: 22px;
	padding-bottom: 40px;

}
.body .sidebar {
	width: 200px;
	padding-top: 22px;
	font-size: 14px;
        position: fixed;
        float: left;
}

.body .sidebar ul {
	padding: 15px;
	-webkit-border-radius: .3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
	color: #143545;

}
.body .sidebar ul h2 {
	color: #143545;
	font-size: 20px;
	padding-left: 0;
	margin-top: 0;

}
.body .sidebar ul a {
	color: #08C;
	text-decoration: none;
	border-bottom: 0px;

}
.body .sidebar ul a:hover {
	color: #08C;
	text-decoration: none;
	border-bottom: 1px solid #08C;

}
.body .sidebar {
	padding: 5px;
	margin-left: 0;
	display: list-item;
	list-style: none;
	font-size: 18px;

}
.body p, .body ul {
	padding: 11px;

}
.body li {
	margin-left: 20px;

}
.body li p {
	padding: 0;

}

h1, h2, h3, h4 h5, h6 {
        color: #333;
        font-weight: bold;
}

.body h1 a, .body h2 a, .body h3 a, .body h4 a {
      color: #333;
      text-decoration: none;
      border-bottom: 0;
}

h1 {
	margin: 10px 0 10px 0;
	font-size: 30px;
}

h2 {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 20px;
}

h3 {
       margin-top: 30px;
       margin-bottom: 5px;
}

h4 {
        margin-top: 10px;
        margin-bottom: 0;
}

.body b {
	font-family: monospace;
	font-weight: normal;
	color: #143545;

}
.body pre, .body code {
	font-family: monospace;

}
.body .ocaml .keyword1 {
	display: inline;
	color: #15317E;

}
.body .ocaml .keyword2 {
	display: inline;
	color: #A00000;

}
.body .ocaml .keyword4 {
	display: inline;
	color: #06c;
	font-weight: bold;

}
.body .ocaml .keyword5 {
	display: inline;
	color: #4E9258;

}
.body .ocaml .keyword6 {
	display: inline;
	color: #339900;

}
.body .ocaml .keyword7 {
	display: inline;
	color: #8BB381;

}
.body .ocaml .keyword8 {
	display: inline;
	color: #EE9A4D;

}
.body .ocaml .comments {
	display: inline;
	color: #FF6600;

}
.body code {
	color: black;

}
.body pre {
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	background-color: #151515;
	overflow: auto;
	-webkit-border-radius: .3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}
.body pre {
	font-size: 12px;
	line-height: 15px;
	color: #CCC;

}
.footer {
	color: black;
	background-color: white;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	clear: both;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 29px;

}
.footer .copyright {
	clear: both;

}
.footer a {
	color: #08C;
        text-decoration: none;
}

.footer a:hover {
	color: #08C;
        text-decoration: underline;
}

body {
	background: #F0F0F0;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, Sans;
	font-size: 15px;
	line-height: 1.3em;

}
body .container {
	width: 960px;
	margin: 0 auto;

}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff') format('woff');
}


ul.subsection { 
  font-size: 15px;
}
