; $Id: DtPrint_emx.def.dist,v 1.5 2002/06/02 08:55:29 amai Exp $
LIBRARY DtPrint INITINSTANCE TERMINSTANCE
DESCRIPTION "DtPrint.dll Version=1.0"

CODE PRELOAD
DATA PRELOAD MULTIPLE NONSHARED

; File created by mkdef "20011215" on 13 Apr 2002, 11:05:25

EXPORTS
  _DtPrintSetupBoxNoGeoRequest                                    @1
  DtCreatePrintSetupDialog                                        @2
  DtCreatePrintSetupBox                                           @3
  _DtPrintSetupBoxGetSelectionLabelString                         @6
  _DtPrintSetupBoxGetOkLabelString                                @9
  _DtPrintSetupBoxGetCancelLabelString                            @10
  _DtPrintSetupBoxGetHelpLabelString                              @11
  dtPrintSetupBoxClassRec                                         @13
  dtPrintSetupBoxWidgetClass                                      @14
  DtPrintFillSetupData                                            @15
  DtPrintCopySetupData                                            @16
  DtPrintFreeSetupData                                            @17
  DtPrintResetConnection                                          @18
