; $Id: Mrm_21_emx.def.dist,v 1.7 2003/10/22 17:54:55 amai Exp $
LIBRARY Mrm_21 INITINSTANCE TERMINSTANCE
DESCRIPTION "Mrm_21.dll Version=0.93.93"

CODE PRELOAD
DATA PRELOAD MULTIPLE NONSHARED

; File created by mkdef "20011215" on 22 Oct 2003, 19:22:59

EXPORTS
  __MrmLookUpClassIndex                                           @4
  __MrmGetArgValues                                               @7
  __MrmLookUpArgIndex                                             @3
  __MrmLookUpFunction                                             @1
  __MrmLookUpPredefines                                           @2
  __MrmArgNamesString                                             @5
  __MrmReadBitmapFileData                                         @6
  CreateFunctions                                                 @8
  ArgNames                                                        @9
  Predefines                                                      @10
  ClassSize                                                       @11
  ArgSize                                                         @12
  PreSize                                                         @13
  __MrmStack                                                      @14
  __MrmStore                                                      @19
  __MrmExit                                                       @15
  __MrmPush                                                       @18
  __MrmPop                                                        @17
  __MrmWarn                                                       @16
  __MrmStackPointer                                               @20
  MrmInitialize                                                   @22
  MrmCloseHierarchy                                               @32
  MrmOpenHierarchy                                                @27
  MrmOpenHierarchyPerDisplay                                      @28
  MrmOpenHierarchyFromBuffer                                      @38
  MrmRegisterNames                                                @29
  MrmRegisterClass                                                @31
  MrmFetchIconLiteral                                             @24
  MrmFetchColorLiteral                                            @26
  MrmFetchLiteral                                                 @23
  MrmFetchWidgetOverride                                          @34
  MrmFetchWidget                                                  @21
  MrmFetchSetValues                                               @35
  MrmFetchBitmapLiteral                                           @25
  MrmFetchInterfaceModule                                         @33
  MrmRegisterNamesInHierarchy                                     @30
  NumberRegisteredFunctions                                       @36
  RegisteredFunctions                                             @37
