; $Id: Mrm_12_emx.def.dist,v 1.7 2003/10/22 17:54:55 amai Exp $
LIBRARY Mrm_12 INITINSTANCE TERMINSTANCE
DESCRIPTION "Mrm_12.dll Version=0.93.93"

CODE PRELOAD
DATA PRELOAD MULTIPLE NONSHARED

; File created by mkdef "20011215" on 22 Oct 2003, 19:15:00

EXPORTS
  __MrmLookUpClassIndex                                           @77
  __MrmGetArgValues                                               @80
  __MrmLookUpArgIndex                                             @76
  __MrmLookUpFunction                                             @74
  __MrmLookUpPredefines                                           @75
  __MrmArgNamesString                                             @78
  __MrmReadBitmapFileData                                         @79
  CreateFunctions                                                 @10
  ArgNames                                                        @11
  Predefines                                                      @12
  ClassSize                                                       @13
  ArgSize                                                         @14
  PreSize                                                         @15
  __MrmStack                                                      @81
  __MrmStore                                                      @86
  __MrmExit                                                       @82
  __MrmPush                                                       @85
  __MrmPop                                                        @84
  __MrmWarn                                                       @83
  __MrmStackPointer                                               @87
  MrmInitialize                                                   @29
  MrmCloseHierarchy                                               @30
  MrmOpenHierarchy                                                @31
  MrmOpenHierarchyPerDisplay                                      @32
  MrmOpenHierarchyFromBuffer                                      @88
  MrmRegisterNames                                                @37
  MrmRegisterClass                                                @69
  MrmFetchIconLiteral                                             @38
  MrmFetchColorLiteral                                            @41
  MrmFetchLiteral                                                 @42
  MrmFetchWidgetOverride                                          @43
  MrmFetchWidget                                                  @44
  MrmFetchSetValues                                               @73
  MrmFetchBitmapLiteral                                           @71
  MrmFetchInterfaceModule                                         @72
  MrmRegisterNamesInHierarchy                                     @70
  NumberRegisteredFunctions                                       @1
  RegisteredFunctions                                             @2
