; $Id: Mrm_20_emx.def.dist,v 1.12 2003/10/22 17:54:55 amai Exp $
LIBRARY Mrm_20 INITINSTANCE TERMINSTANCE
DESCRIPTION "Mrm_20.dll Version=0.93.93"

CODE PRELOAD
DATA PRELOAD MULTIPLE NONSHARED

; File created by mkdef "20011215" on 22 Oct 2003, 19:22:08

EXPORTS
  __MrmLookUpClassIndex                                           @68
  __MrmGetArgValues                                               @71
  __MrmLookUpArgIndex                                             @67
  __MrmLookUpFunction                                             @65
  __MrmLookUpPredefines                                           @66
  __MrmArgNamesString                                             @69
  __MrmReadBitmapFileData                                         @70
  CreateFunctions                                                 @10
  ArgNames                                                        @11
  Predefines                                                      @12
  ClassSize                                                       @13
  ArgSize                                                         @14
  PreSize                                                         @15
  __MrmStack                                                      @72
  __MrmStore                                                      @77
  __MrmExit                                                       @73
  __MrmPush                                                       @76
  __MrmPop                                                        @75
  __MrmWarn                                                       @74
  __MrmStackPointer                                               @78
  MrmInitialize                                                   @23
  MrmCloseHierarchy                                               @24
  MrmOpenHierarchy                                                @25
  MrmOpenHierarchyPerDisplay                                      @26
  MrmOpenHierarchyFromBuffer                                      @79
  MrmRegisterNames                                                @31
  MrmRegisterClass                                                @32
  MrmFetchIconLiteral                                             @33
  MrmFetchColorLiteral                                            @36
  MrmFetchLiteral                                                 @37
  MrmFetchWidgetOverride                                          @38
  MrmFetchWidget                                                  @39
  MrmFetchSetValues                                               @64
  MrmFetchBitmapLiteral                                           @62
  MrmFetchInterfaceModule                                         @63
  MrmRegisterNamesInHierarchy                                     @60
  NumberRegisteredFunctions                                       @1
  RegisteredFunctions                                             @2
