; $Id: Uil_12_emx.def.dist,v 1.8 2003/10/22 17:54:55 amai Exp $
LIBRARY Uil_12 INITINSTANCE TERMINSTANCE
DESCRIPTION "Uil_12.dll Version=0.93.93"

CODE PRELOAD
DATA PRELOAD MULTIPLE NONSHARED

; File created by mkdef "20011215" on 22 Oct 2003, 19:15:08

EXPORTS
  Uil                                                             @1
  UilDumpSymbolTable                                              @2
  constraint_tab                                                  @3
  allowed_argument_table                                          @4
  argument_type_table                                             @5
  allowed_child_table                                             @6
  child_class_table                                               @7
  charset_writing_direction_table                                 @8
  charset_parsing_direction_table                                 @9
  charset_character_size_table                                    @10
  allowed_control_table                                           @11
  enum_set_table                                                  @12
  argument_enumset_table                                          @13
  enumval_values_table                                            @14
  related_argument_table                                          @15
  allowed_reason_table                                            @16
  uil_gadget_variants                                             @17
  uil_urm_nondialog_class                                         @18
  uil_urm_subtree_resource                                        @19
  uil_sym_user_defined_object                                     @20
  uil_sym_default_charset                                         @21
  uil_sym_isolatin1_charset                                       @22
  key_table                                                       @23
  key_k_keyword_count                                             @24
  key_k_keyword_max_length                                        @25
  key_table_case_ins                                              @26
  charset_xmstring_names_table                                    @28
  charset_lang_names_table                                        @29
  charset_lang_codes_table                                        @30
  charset_lang_table_max                                          @31
  uil_max_object                                                  @32
  uil_widget_names                                                @33
  uil_max_arg                                                     @34
  uil_argument_names                                              @35
  uil_max_child                                                   @36
  uil_child_names                                                 @37
  uil_max_reason                                                  @38
  uil_reason_names                                                @39
  uil_max_enumset                                                 @40
  uil_max_enumval                                                 @41
  uil_enumval_names                                               @42
  uil_max_charset                                                 @43
  uil_charset_names                                               @44
  tok_num_tokens                                                  @45
  tok_token_name_table                                            @46
  uil_widget_funcs                                                @47
  uil_argument_toolkit_names                                      @48
  uil_reason_toolkit_names                                        @49
  uil_max_value                                                   @50
  uil_datatype_names                                              @51
  _uilmsg                                                         @52
  _uil_parse_init                                                 @53
  _uil_parse_destroy                                              @54
  _uil_next_lexeme                                                @55
  _uil_parse_module                                               @56
  _uil_dump_node                                                  @57
